.DS_Store
.idea
/lab1Andlab2/.DS_Store
/lab1Andlab2/~$acle-cw.docx
/lab1Andlab2/oracle-cw.docx
/lab3/sprawozdanie.docx
/lab3/KacperCwiertniaEFProducts/.vs
/lab3/KacperCwiertniaEFProducts/KacperCwiertniaEFProducts.sln
/lab3/KacperCwiertniaEFProducts/KacperCwiertniaEFProducts/bin
/lab3/KacperCwiertniaEFProducts/KacperCwiertniaEFProducts/Migrations
/lab3/KacperCwiertniaEFProducts/KacperCwiertniaEFProducts/obj
/lab3/kacper_cwiertnia_entity.docx
/lab4/sprawozdanie_hibernate.docx
/lab4/KacperCwiertniaJPA
/lab4/derby.log
/lab4/hibernate_lab4/.idea
/lab4/hibernate_lab4/lib
/lab5/.DS_Store
/lab5/.Rhistory
/lab5/CwiertniaKacper_mongodb.zip
/lab5/Mongo_cw1.docx
/lab5/samples
/lab5/yelp
/lab5/~$ngo_cw2.docx
/lab5/cw2/.DS_Store
/lab5/cw2/Mongo_cw2.docx
/lab5/cw2/example_data_zad2/.DS_Store
/lab5/cw2/example_data_zad2/wariant1/.DS_Store
/lab5/cw2/example_data_zad2/wariant2/.DS_Store
/lab5/cw2/travel_wariant1/.DS_Store
/lab5/cw2/travel_wariant2/.DS_Store